<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="upbit" type="Blackyak.Core.Configuration.UBConfigSection, Blackyak" />
  </configSections>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <upbit accessKey="Input your access key" secretKey="Input your secret key">
    
  </upbit>
</configuration>